* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}


.table-container {
  max-height: 60px; 
  overflow-y: auto; 
  border: 1px solid #ddd; 
}

table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}


button {
  padding: 6px 12px;
  font-size: 14px;
  border: 2px solid #2e8b57;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: #2e8b57;
  color: white;
}

button.modifica {
  margin-right: 10px;
}

button.elimina {
  background-color: #b22222;
  border-color: #b22222;
}

button.elimina:hover {
  background-color: #8b0000;
}

.table-image {
  width: 30%;
  display: block;
  margin-bottom: 10px;
}
