#map { width: 600px; height: 400px; }
.hide {
    display: none;
}
.show{
    display:block;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 20px 0;
}

h4 {
    color: #555;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    color: #333;
    background-color: #ddd;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

img {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.table {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

button.btn-success {
    display: block;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
}
